.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

img {
  width: 150px; 
  margin-bottom: 20px; 
}

input {
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px 20px;
}
