 /* Sidebar styles */
.sidebar {
    width: 300px;
    background-color: #f4f4f4;
    color: #333;
    transition: width 0.3s ease;
    overflow: hidden;
    border-right: 1px solid #ddd;
    position: relative;
    height: 100vh;
}

.sidebar.closed {
    width: 60px;
}

.toggleButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggleButton:hover {
    background-color: #0056b3;
}

.content {
    padding: 20px;
}

.logoContainer {
    text-align: center;
    margin-bottom: 10px;
}

.logo {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.title {
    font-size: 20px;
    margin: 10px 0;
}

.menu {
    list-style-type: none;
    padding:10px;
    margin: 10px;
}

.menuItem {
    margin: 10px 0;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menuItem:hover {
    background-color: #d0d0d0;
}

.dropdownHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
    
.dropdownButton {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  margin-left: 4px;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
}

.dropdownButton.open {
  transform: rotate(180deg);
}

.subMenu {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 20px;
}

.subMenuItem {
  margin-bottom: 5px;
  color: #333;
  font-size: 15px;
  cursor: pointer;
  transition: color 0.3s ease;
}
  
.subMenuItem:hover {
  color: #1a73e8;
}

.menuItem a {
  text-decoration: none;
  color: #333;
  display: block;
}

.menuItem a:hover {
  color: #007bff;
}

/* Classes list styles */
.classes-list {
  margin-top: 20px;
}

.class-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.class-name {
  flex-grow: 1;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.class-name:hover {
  color: #007bff;
}

.delete-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #c0392b;
}